VITE_SUPABASE_URL=https://yeisopdnpyjktksxdbjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InllaXNvcGRucHlqa3Rrc3hkYmpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyODI5OTksImV4cCI6MjEwMzg1ODk5OX0.KsqPYWeeDXN8rgh9qLMWrrFUYc9aBElQx_E5dNsZAJs
